{% extends "base.html" %}
{% load static %}

{% block page_header %}
<!-- Page header section -->
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">

    <!-- Title section -->
    <div class="row">
        <div class="col-12 col-md-6">
            <hr>
            <h2 class="logo-font mb-4">Game Review</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <h5 class="text-muted">{{ game }}</h5>
            <hr>
        </div>

    </div>

    <!-- Adds Game Review Form -->
    <div class="row">
        <div class="col-12 col-md-6">
            <form method="POST" action="{% url 'add_review' game.id %}" class="form mb-2"
                enctype="multipart/form-data">
                {% csrf_token %}

                <!-- Iterates through fields and render using crispy forms -->
                {% for field in form %}

                {{ field | as_crispy_field }}

                {% endfor %}

                <!-- Submit or cancel -->
                <div class="text-right">
                    <a class="btn btn-outline-black rounded-0" href="{% url 'game_detail' game.id %}">Back to
                        game</a>
                    <button class="btn btn-black rounded-0" type="submit">Add game review</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}

{% endblock %}