{% extends "base.html" %}
{% load static %}

{% block page_header %}
<!-- Page header section -->
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">

    <!-- Edit game review header -->
    <div class="row header">
        <div class="col-12 col-md-6 text-center">
            <hr>
            <h2 class="col text-center text-uppercase mt-3">Edit game review</h2>
        </div>
    </div>
    <!-- Game name review which is being edited -->
    <div class="row">
        <div class="col-12 col-md-6 text-center">
            <h5 class="col text-center mt-3">{{ game }}</h5>
            <hr class="mb-1">
        </div>
    </div>

    <!-- Adds game review Form -->
    <div class="row">
        <div class="col-12 col-md-6 text-center">
            <form method="POST" action="{% url 'edit_review' game.id review.id %}" class="form mb-2"
                enctype="multipart/form-data">

                {% csrf_token %}

                <!-- Iterates through fields and renders using crispy forms -->
                {% for field in form %}

                {{ field | as_crispy_field }}

                {% endfor %}

                <!-- Submit or cancel review -->
                <div class="text-right">
                    <a class="btn btn-outline-black text-uppercase" href="{% url 'game_detail' game.id %}">
                        Back to Game
                    </a>
                    <button class="btn btn-black text-uppercase" type="submit">Update Game Review</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}

{% endblock %}