{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="containe header-container">
    <div class="row"></div>
</div>

{% endblock page_header %}

{% block content %}

<div class="overlay"></div>
<div class="container cart-container">
    <div class="row justify-content-center align-items-center">
        <div class="col">
            <h3 class="text-center my-3 font-weight-bold">Contact us</h3>
            <p class="lead text-center">Have you got a question? Suggestion? Would you like to leave a compliment?</p>
            <hr>
        </div>
    </div>
    <div class="row justify-content-center align-items-center mt-3" id="contact-container">
        <div class="col-md-5">
            <div class="contact-form">
                <form action="" method="POST" class="form my-3" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ contact_form|crispy }}
                    <button type="submit" class="btn btn-danger text-center">Send</button>
                </form>
            </div>
        </div>
      
    </div>
</div>
{% endblock content %}