{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <!-- <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div> -->
{% endblock %}

{% block content %}

    <section class="container-fluid px-0">
        <div class="hero-container img-fluid">
            <div class="row h-100 mx-0">
                <div class="col text-center text-lg-right">
                    <h1 class="pt-4 hero-info">Games <span class="uppercap">exclusive only</span> to your console !</h1>
                </div>
                <h2>
                    <a href="{% url 'games' %}" class="shop-now-btn btn btn-lg">Shop Now</a>
                </h2>
            </div>
        </div>
    </section>
{% endblock %}