{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <section class="container-fluid px-0">
        <!-- Background image -->
        
            <div class="hero-container img-fluid">
                <div class="img-overlay">
                    <div class="row h-100 mx-0">
                        <!-- Overlay text -->
                        <div class="col text-center text-lg-right">
                            <h1 class="pt-4 hero-info">Games <span class="uppercap">exclusive only</span> to your console !</h1>
                        </div>
                        <!-- Button with link to all games page -->
                        <h2>
                            <a href="{% url 'games' %}" class="shop-now-btn btn btn-lg">Shop Now</a>
                        </h2>
                    </div>
                 </div>
            </div>
    </section>
    <!-- Mailchimp Signup Form -->
    <div class="container-fluid bg-white p-1">
        <div class="row text-center background-email">
            <div class="col-12 text-black">  
                <div class="text-center pt-4 p-2" id="mc_embed_signup_email">
                    <form
                        action="https://gmail.us12.list-manage.com/subscribe/post?u=77e4f058758090cb78ce56441&amp;id=2cd0b142c9&amp;f_id=000c53e0f0"
                        method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                        target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">
                            <i class="fa-solid fa-envelope-open-text subscribe-icon"></i>
                            <!-- Form header -->
                            <h2 class="subscribe-header">Don't miss out - SUBSCRIBE</h2>
                            <div class="mc-field-group">
                                <label for="mce-EMAIL" class="mt-2 mb-2 mce">Sign up, so you are kept in a loop about
                                    the newest old games on offer!</label>
                                <div class="row text-center">
                                    <div class="col-sm-0 col-md-3"></div>
                                    <div class="col-sm-12 col-md-6 mb-4 mt-4">
                                        <!-- Window for entering shopper's email address -->
                                        <input type="email" name="EMAIL" class="required email input-email mb-2 p-2"
                                            id="mce-EMAIL" placeholder="Enter your email here...">
                                        <div class="optionalParent">
                                            <div class="clear foot text-center">
                                                <!-- Subscribe button -->
                                                <input type="submit" value="Subscribe" name="subscribe"
                                                    class="btn btn-dark text-uppercase">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-0 col-md-3"></div>
                                    <!-- Confirmation message of (un)successful subcription -->
                                    <div id="mce-responses" class="clear foot">
                                        <div class="response" id="mce-error-response" style="display:none"></div>
                                        <div class="response" id="mce-success-response" style="display:none"></div>
                                    </div>
                                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input
                                            type="text" name="b_f1aacedf9c1d9cd972b2746b3_ed76271233" tabindex="-1">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <script src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
                <script>(function ($) { window.fnames = new Array(); window.ftypes = new Array(); fnames[0] = 'EMAIL'; ftypes[0] = 'email'; fnames[1] = 'FNAME'; ftypes[1] = 'text'; fnames[2] = 'LNAME'; ftypes[2] = 'text'; fnames[3] = 'ADDRESS'; ftypes[3] = 'address'; fnames[4] = 'PHONE'; ftypes[4] = 'phone'; fnames[5] = 'BIRTHDAY'; ftypes[5] = 'birthday'; }(jQuery)); var $mcj = jQuery.noConflict(true);</script>
                <!--End mc_embed_signup-->
            </div>
        </div>
    </div>
{% endblock %}