{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="containe header-container">
    <div class="row">

    </div>
</div>

{% endblock page_header %}

{% block content %}

<div class="overlay"></div>
<div class="container cart-container">
    <div class="row">
        <div class="col col-12">
            <h3 class="my-3 font-weight-bold text-center">Favourites ({{ favourites_count }})</h3>
            <hr>
        </div>
    </div>
    <div class="row mt-3">
        {% for game in favourites.games.all %}
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <div class="card product-card h-100 border-0 justify-content-center align-items-center">
                {% if game.image %}
                <a href="{% url 'game_detail' game.id %}">
                    <img class="card-img-top img-fluid" src="{{ game.image_url }}" alt="{{ game.name }}">
                </a>
                {% else %}
                <a href="{% url 'game_detail' game.id %}">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}no_image_placeholder.JPG" alt="{{ game.name }}">
                </a>
                {% endif %}
                <div class="card-body pb-0">
                    <p class="mb-0">{{ game.name }}</p>
                    <p class="lead mb-0 text-left font-weight-bold">£{{ game.price }}</p>
                    <small class="">
                        <a href="{% url 'game_detail' game.id %}" title="View details">Details</a> &nbsp; |  &nbsp;
                        <a class="text-danger" href="{% url 'remove_from_favourites' game.id %}" title="Remove from favourites"><i class="fas fa-trash"></i></a>
                    </small>
                </div>
            </div>
        </div>
            {% if forloop.counter|divisibleby:1 %}
                <div class="col-12 d-sm-none mb-3">
                    <hr>
                </div>
            {% endif %}
            {% if forloop.counter|divisibleby:2 %}
                <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-3">
                    <hr>
                </div>
            {% endif %}
            {% if forloop.counter|divisibleby:3 %}
                <div class="col-12 d-none d-lg-block d-xl-none mb-3">
                    <hr>
                </div>
            {% endif %}
            {% if forloop.counter|divisibleby:4 %}
                <div class="col-12 d-none d-xl-block mb-3">
                    <hr>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock content %}