{% extends "base.html" %}
{% load static %}
{% load basket_tools %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <!-- Shopping basket container -->
    <div class="container header text-uppercase text-center mb-2">
        <div class="row">
            <!-- Shopping basket page title -->
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Shopping Basket</h2>
                <hr>
            </div>
        </div>
        
        <div class="row">
            <div class="col">
                {% if basket_items %}
                    <div class="d-block d-md-none">
                        <div class="row">
                            <!-- If anything in the basket, summary will show -->
                            <div class="col">
                                {% include "basket/basket-total.html" %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                {% include "basket/checkout-buttons.html" %}
                                <p class="text-muted mb-5 total">A summary of your basket contents is below</p>
                            </div>
                        </div>
                        {% for item in basket_items %}
                            <div class="row">
                                <!-- Displays game image if image exists -->
                                <div class="col-12 col-sm-6 mb-2">
                                    {% include "basket/game-image.html" %}
                                </div>
                                <!-- Game name and SKU number -->
                                <div class="col-12 col-sm-6 mb-2">
                                    {% include "basket/game-info.html" %}
                                </div>
                                <!-- Game price -->
                                <div class="col-12 col-sm-6 order-sm-last">
                                    <p class="my-0">Price Each: £{{ item.game.price }}</p>
                                    <p><strong>Subtotal: </strong>£{{ item.game.price | calc_subtotal:item.quantity }}</p>
                                </div>
                                <div class="col-12 col-sm-6">
                                    {% include "basket/quantity-form.html" %}
                                </div>
                            </div>
                            <div class="row"><div class="col"><hr></div></div>
                        {% endfor %}
                    </div>
                    <div class="table-responsive rounded d-none d-md-block">
                        <table class="table table-sm table-borderless">
                            <thead class="text-black">
                                <tr>
                                    <th scope="col">Game Info</th>
                                    <th scope="col"></th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Qty</th>
                                    <th scope="col">Subtotal</th>
                                </tr>
                            </thead>

                            {% for item in basket_items %}
                                <tr>
                                    <td class="p-3 w-25">
                                        {% include "basket/game-image.html" %}
                                    </td>
                                    <td class="py-3">
                                        {% include "basket/game-info.html" %}
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">£{{ item.game.price }}</p>
                                    </td>
                                    <td class="py-3 w-25">
                                        {% include "basket/quantity-form.html" %}
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">£{{ item.game.price | calc_subtotal:item.quantity }}</p>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <!-- Subtotal, delivery charges, total, if minimum not met, message saying how much more shopper needs to spend for free delivery -->
                                <td colspan="5" class="pt-5 text-right">
                                    {% include "basket/basket-total.html" %}
                                </td>
                            </tr>
                            <tr>
                                <!-- Button to take shopper to all games page or checkout page -->
                                <td colspan="5" class="text-right">
                                    {% include "basket/checkout-buttons.html" %}
                                </td>
                            </tr>
                        </table>
                    </div>
                <!-- If no games in the basket, button with all games page link will appear -->
                {% else %}
                    <p class="lead mb-5">Your basket is empty.</p>
                    <!-- Button to take shopper to all games page -->
                    <a href="{% url 'games' %}" class="btn btn-outline-black btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keep Shopping</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div> 
    <!-- Scroll up arrow for ease of navigation -->
    <div class="btt-button">
        <a class="scroll-link d-flex">
            <i class="fa-solid fa-circle-arrow-up mx-auto my-auto text-dark"></i>
        </a>	
    </div>
 
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<!-- Scroll up arrow JS -->
<script>
    $('.scroll-link').click(function(e) {
        window.scrollTo(0,0)
    })
</script>
{% include 'games/includes/quantity_input_script.html' %}

<script>
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/basket/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}