@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.navbar-nav {
    font-size: large;
}

.header {
    top: 20vh;
}

.main-logo-link, .nav-link {
    color: black;
    width: fit-content;
}

.logo-font {
    text-transform: uppercase;
    font-family: 'FontAwesome';
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}


.hero-container {
	background: url('/media/homepage_background.jpg') no-repeat center center;
	background-size: cover;
	height: 75vh;
	position: relative;
    margin-top: 20px;
	max-width: 100%;
}

.hero-info {
    text-shadow: white 1px 0 10px;
    text-align: center;
    position: relative;
    display: grid;
    top: 0;
    font-family: FontAwesome;
    font-size: 35px;
}

.hero-text {
    top: 0;
}

.uppercap {
    font-size: xxx-large;
    color: #032c9f;
}

/*...............................................Buttons  */ 
.shop-now-btn {
    position: absolute;
    margin: 0;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
    bottom: 25%;
    background-color: white;
    box-shadow: yellow 2px 0 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: x-large;
    font-weight: bolder;
    text-transform: uppercase;
}

.shop-now-btn, .btn-warning,
.btn-dark, .btn-danger,
.btn-info, .btn-black ,
.btn-outline-black, .btn-back {
    border-radius: 25px;
}

.btn-dark {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    background-color: black;
    border-color: black;
}

.btn-danger {
    background: #e85320;
    text-transform: uppercase;
    justify-content: center;
}

.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-black {
    background: black;
    color: white;
    letter-spacing: 1.5px;
}

.btn-back {
    color:#032c9f; 
    letter-spacing: 1px;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.shop-now-btn:hover,
.shop-now-btn:active,
.shop-now-btn:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

/*...............................................Forms */

.input-group>.form-control {
    letter-spacing: 1px;
}

.form-control {
    padding: 0.25rem 0.55rem;

}

#profile-update-form .form-control {
    letter-spacing: 2px;
}

.profile{
    font-size: medium;
}

/*...............................................Contact Form */

#contact-container {
    box-shadow: 0px 0px 8px 3px rgb(230, 57, 14);
}

/*...............................................Profile page */

.profile {
    text-transform: uppercase;
}

/*...............................................All Games page */

/*...............................................Game Detail page */
.game-image {
    display: flex;
    justify-content: center;
}

.favourites-link {
    border: none;
    font-size: x-large;
    float: right;
}

.quantity {
    align-items: center;
}

/*...............................................Favourites page */

#games-display {
    margin-bottom: 5vh;
    padding: 5px;
}

.game-details {
    font-size: smaller;
}

.fa-trash {
    font-size: large;
}

/*...............................................Footer*/

body > footer {
    position: sticky;
    top: 100vh;
    clear: right;
  }

footer.background {
    width: 100%;
    padding-top: 1rem;
    background-color: #e85320;
    padding:10px 70px 0px;
}	       

footer ul li{
   padding:5px 0px;
   text-decoration: none;
}

.copyright span , .links span , .social span {
  color: #FFF; 
  font-weight: 800; 
  padding-bottom: 10px; 
  margin-bottom: 20px;
  display: block;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 3px;
}

.copyright li p , .links li a , .social li a {
   color:#FFF;
   letter-spacing: 2px;
   text-decoration: none;
   font-size: 15px;
}

.social li {
   float: left;
}

.social li a {
    letter-spacing: 25px;
    font-size: x-large;
 }
 
.copyright , .links , .social {
   list-style: none;
}

.fa {
   color: white;
   margin-right: 15px;
   font-size: large;
   letter-spacing: 25px;
}

/*...............................................Mailchimp */

#mc_embed_signup_email {
    background: #fff;
    clear: left;
    font: 14px 'Rubik Dirt', cursive;
    border: solid 2px black;
}

#mce-EMAIL {
    width: 100%;
    border-radius: 25px;
    border: solid 1px black;
}

.background-email {
    background-color: #22F2CF;
    padding: 20px;
}

.text-center {
    justify-content: center;
    margin: auto;
    text-align: center;
    width: 100%;
}

.subscribe-icon {
    font-size: 50px;
}

.input-email {
    border: solid 2px white;
    border-radius: 5px;
    float: right;
    height: 50px;
}

/*...............................................Scroll arrow in a circle */

.btt-button {
    display: inline-block;
    margin: 15px;
   
} 

a.btt-link i {
    font-size: xxx-large;
    display: table-cell;
    vertical-align: middle; 
    text-align: center;
    text-decoration: none;
    height: 150px;
    width: 150px;
}

/*...............................................Bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}


/*...............................................Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/*...............................................Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}
    

.allauth-form-inner-content input {
    border-color: #000;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

/* .allauth-form-inner-content a {
	color: #17a2b8;
} */

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 165px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }

    .logo-font {
        font-size: large;
    }

    .dropdown-item {
        font-size: small;
    }

    div.card-footer {
        padding: 40px 10px;
        font-size: 0.85rem;
    }

    footer.background {
        padding: 10px 10px;
    }

    .btn-dark {
        width: 50%;
    }

    .games-card-body {
        font-size: medium;
    }

    .h-100 {
        height: 75%!important;
    }

    .lead {
        font-size: 1.1rem;
    }

    .copyright span, .links span, .social span {
        font-size: small;
        letter-spacing: 2px;
        padding-bottom: 5px;
        margin-bottom: 10px;
    }

    .copyright li p {
        font-size: small;
    }

    .links li a {
        letter-spacing: 1px;
        font-size: small;
    }

    .social li a {
        font-size: large;
    }
}

/*...............................................Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

@media (min-width: 991px) {
    #large-screen {
        display: none;
    }
}

@media (max-width: 991px) {
    .hero-container  {
        background: url('/media/homepage_background_sc.jpg') no-repeat center center;
    }
}