@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    min-height: auto;
    display: flex;
    flex-direction: column;
    font-family: 'Electrolize', sans-serif;
}

h1, h2, h3, h4 {
    font-weight: bold;
}

.btn-link {
    color: black;
}

.btn-link:hover {
    color: #e85320;
}

.main-logo-link, .nav-link {
    width: fit-content;
    color: black;
}

.red {
    color: #e85320;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

.img-overlay {
    background-color: #ffc1076e;
    height: 100%;
}

.hero-container {
	background-image: url('https://res.cloudinary.com/games-exclusives/image/upload/v1665743443/media/homepage_background.png');
    background-size: cover;
    width: 100%;
    height: 75vh;
	position: relative;
}

.hero-info {
    text-shadow: white 1px 0 10px;
    text-align: center;
    position: relative;
    display: grid;
    top: 0;
    font-size: 45px;
    text-transform: uppercase;
}

.hero-text {
    top: 0;
}

.uppercap {
    font-size: xxx-large;
    color: #032c9f;
    text-shadow: 1px 1px 2px white;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/*...............................................Buttons, anchors, icons  */ 
.shop-now-btn {
    position: absolute;
    margin: 0;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
    bottom: 25%;
    background-color: white;
    box-shadow: yellow 2px 0 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: x-large;
    font-weight: bolder;
    text-transform: uppercase;
}

.shop-now-btn, .btn-warning,
.btn-dark, .btn-danger,
.btn-info, .btn-black ,
.btn-outline-black, .btn-back {
    border-radius: 25px;
}

.btn-fav i {
    color: red;
}

.btn-dark {
    color: #fff;
    font-weight: bold;
    background-color: black;
    border-color: white;
}

.btn-danger {
    background: #e85320;
    justify-content: center;
}

.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-black {
    background: black;
    color: white;
}

.btn-back {
    color: black;
}

.btn-dark:hover,
.btn-dark:active,
.btn-dark:focus {
    background: #d48817;
    color: white !important;
}

.shop-now-btn:hover,
.shop-now-btn:active,
.shop-now-btn:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus,
.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.scroll-link,
.update-link,
.remove-item {
    cursor: pointer;
}

a:hover {
    color: #e85320;
    text-decoration: none;
}

.navbar-toggler-icon {
    color: black;
}

/*...............................................Scroll arrow in a circle */

.scroll-link {
    position: fixed;
    font-size: xxx-large;
    bottom: 10px;
    right: 10px;
}

/*...............................................Forms */

.form-group {
    margin-top: 1rem;
}

.form-group label {
    font-weight: bold;
}

.form-control {
    padding: 0.25rem 0.55rem;

}

.profile{
    font-size: medium;
}

/*...............................................Profile page */

.profile {
    text-transform: uppercase;
}

.profile-header {
    margin-top: 10vh!important; 
}

/*...............................................All Games page */
.game-name {
    font-weight: 600;
}

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

/*...............................................Game Detail page */
.game-image {
    display: flex;
    justify-content: center;
}

.description {
    font-weight: bold;
}

.favourites-link {
    border: none;
    font-size: x-large;
    float: right;
}

.quantity {
    align-items: center;
}

/*...............................................Favourites page */

#games-display, #fav-display {
    margin-bottom: 5vh;
    padding: 10px;
}

.fa-trash {
    font-size: large;
}

.favourites-link {
    color: red;
}

/*...............................................Reviews */

.review-container {
    margin-top: 10px !important;
}

.modal-header {
    text-transform: uppercase;
}

.modal-body {
    font-size: medium;
    color: red;
}

/*...............................................Footer */

footer.background {
    background-color: #e85320;
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 2px;
}	       

.social-div { 
    font-size: 2vw;
}

a.social i {
    color: white;
    padding-inline: 25px;
}


.fa {
   color: white;
   margin-right: 15px;
   font-size: large;
   letter-spacing: 25px;
}

.social i:hover {
    transition: all, .3s ease-in-out;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.links a:hover, .privacy:hover {
    font-size: 120%;
    font-weight: bold;
}

/*...............................................Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    color: black;
}
    

.allauth-form-inner-content input {
    border-color: #000;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 25px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	background: #d48817;
    color: white !important;
    border-color: black;
}

/* .allauth-form-inner-content a {
	color: #17a2b8;
} */

/*...............................................Mailchimp */

#mc_embed_signup_email {
    background: #fff;
    clear: left;
    border: solid 2px black;
}

#mce-EMAIL {
    width: 100%;
    border-radius: 25px;
    border: solid 1px black;
}

.background-email {
    background-color: #22F2CF;
    padding: 20px;
}

.text-center {
    justify-content: center;
    margin: auto;
    width: 100%;
}

.subscribe-icon {
    font-size: 50px;
}

.input-email {
    border: solid 2px white;
    border-radius: 5px;
    float: right;
    height: 50px;
}

/*...............................................Bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/*...............................................Convenience classes - colors copied from Bootstrap */

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

.order-confirmation-wrapper {
    width: 100%;
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
}

/*...............................................Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    color: black;
}
    

.allauth-form-inner-content input {
    border-color: #000;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/*...............................................Media Queries */

/* Extra large screens ≥1200px up to 992px */

/* Hides favourites from base.html as it becomes */
/* part of mobile top nav on smaller screens */
@media (min-width: 992px) {
    #large-screen {
        display: none;
    }

    .nav-link {
        font-size: 0.85rem;
    }

    .nav-item {
        font-size: 1rem;
    }

    .header {
        margin-top: 15vh!important;
    }

    .games-header {
        margin-top: 25vh!important;
    }

    .header-container {
        margin-top: 10vh;
    }

}

@media (min-width: 1092px) {
    .nav-link {
        font-size:1rem;
    }
}

@media (max-width:992px) {
    .header, .container-header {
        margin-top:  13vh!important;
    }

    .profile-header {
        margin-top: 10vh!important; 
    }
}

@media (max-width:768px) {
    .mob-nav {
        margin-left: 5px;
        margin-right: 5px;
    }

    .header {
        margin-top: 13vh!important;
    }

    .nav-link {
        font-size:0.8rem;
    }
    
    .form-add {
        width: max-content;
    }
    
    span.btn-warning {
        width: 65vw;
    }
}

@media (max-width: 576px) {
    .delivery-banner {
        font-size: 1rem;
    }

    .nav-link {
        padding: 0.25rem;
        font-size: 0.85rem;
    }

    .dropdown-item {
        font-size: 0.9rem; 
    }

    /* Main page hero text and button */
    .uppercap {
        font-size: 4vh;
    }

    .scroll-link {
        font-size: x-large;
        bottom: 20px;
        right: 0;
    }

    /* Mailchimp styling */
    .background-email {
        padding: 5px;
    }

    .subscribe-icon {
        font-size: 1.5rem;
    }

    .subscribe-header {
        font-size: 1rem;
    }

    .mce {
        font-size: 0.9rem;
    }
    .input-email {
        height: 35px;
        font-size: 0.9rem;
    }

    /* Footer styling*/
    .social-div { 
        font-size: 2vw;
    }

    .links, .social  {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    .links li a {
        font-size: small;
        padding: 10px;
        margin: 10px;
    }

    .social li a {
        font-size: large;
        padding: 15px 15px;
    }

    .links, .social {
        padding: 0;
    }

    /* Games page */ 
    .lead, .btn-fav {
        font-size: 0.9rem;
    }

    .btn-fav {
        padding: 0;
    }

    .game-name {
        font-size: 1rem;
    }

    .game-img {
        max-width: 90%;
        padding-bottom: 10px;
    }
}

@media (max-width:456px) {

    body {
        height: calc(100vh - 116px);
    }

    .delivery-banner {
        font-size: 0.9rem;
    }

    .header {
        margin-top: 10vh!important;
    }

    .hero-info {
        font-size: 4.5vh;
    }

    .uppercap {
        font-size: 5vh;
    }

    /* Footer - social link icons and quick links */
    .links li a {
        padding: 5px;
    }

    /* Menu, account, favourites, basket */ 
    .navbar {
        padding: 0.1rem 0.3rem;
    } 

    .nav-link {
        padding: 0.15rem;
        font-size: 0.65rem;
    }

    .dropdown-item {
        font-size: 0.7rem; 
    }

    .navbar-toggler-icon {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: 0;
    }

    /* Buttons */ 
    .shop-now-btn, .btn-warning,
    .btn-dark, .btn-danger,
    .btn-info, .btn-black,
    .btn-outline-black,
    .btn-back, .btn-fav {
        font-size: 0.9rem;
    }

    /* Profile page */ 
    a, .profile {
        font-size: small;
    }
     /* Scroll arrow */ 
    .scroll-link {
        font-size: x-large;
        bottom: 20px;
        right: 0;
    }

    div.card-footer {
        padding: 10px 5px;
    }
    
    /* Games */ 
    .header {
        margin-top: 10vh!important;
    }

    .game-name {
        font-size: 0.9rem;
    }
}