{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block extra_title %}Error 404{% endblock %}

{% block content %}

<div class="overlay"></div>
    <div class="container mb-2">
        <div class="row header">
            <div class="col text-center mt-3">
                <hr>
                <h2 class="logo-font mb-4">Error 404</h2>
                <h3 class="text-muted">Something went wrong</h3>
                <hr class="mb-1">
            </div>
        <div class="col-12 col-md-6 text-center">
            <p>It looks like you're looking for page which doesn't exist.</p>
            <p>Here are some links to help you find what you are looking for! </p>
            
            <p class="inline-flex"><a href="{% url 'contact' %}" class="btn btn-black-outline">Contact</a></p>
            <p class="inline-flex"><a href="{% url 'home' %}" class="btn btn-dark">Home</a></p>

        </div>
    </div>
</div>

{% endblock %}