{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="overlay"></div>
    <div class="container-fluid bg-white mb-2">
        <!-- 404 page header and text-->
        <div class="row header">
            <div class="col text-center mt-3">
                <hr>
                <h2 class="logo-font mb-4 text-uppercase">Error 404</h2>
                <h4 class="text-danger">Something went wrong</h4>
                <hr class="mb-1">
                <p class="lead">It looks like you're looking for page which doesn't exist.</p>
                <p class="lead">Here are some links to help you find what you are looking for!</p>
            </div>
        </div>
        <div class="row text-center">
            <!-- Contact and home page buttons -->
            <div class="col-12 col-lg-6">
                <a href="{% url 'contact' %}" class="btn btn-outline-black my-3 text-uppercase">Contact</a>
                <a href="{% url 'home' %}" class="btn btn-dark my-3 text-uppercase">Home</a>
            </div>
        </div>
    </div>

{% endblock %}