{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container header-container">
        <div class="overlay"></div>
        <!-- Add game container -->
        <div class="container mb-2">
            <div class="row header">
                <div class="col text-center text-uppercase mt-3">
                    <hr>
                    <!-- Add new game page titles -->
                    <h2 class="logo-font mb-4">Game Management</h2>
                    <h5 class="text-muted">Add a Game</h5>
                    <hr class="mb-1">
                </div>
            </div>

            <div class="row text-center">
                <div class="col-12 col-md-6">
                    <!-- Add new game form -->
                    <form method="POST" action="{% url 'add_game' %}" class="form form-add my-3 text-uppercase" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in form %}
                            {% if field.name != 'image' %}
                                {{ field | as_crispy_field }}
                            {% else %}
                                {{ field }}
                            {% endif %}
                        {% endfor %}
                        <!-- Cancel and Add new game buttons -->
                        <a class="btn btn-outline-black text-uppercase" href="{% url 'games' %}">Cancel</a>
                        <button class="btn btn-dark text-uppercase" type="submit">Add New Game</button>
                    </form>
                </div>            
            </div>
        </div>
    </div>
{% endblock %}

    {% block postloadjs %}
        {{ block.super }}
        <!-- JS to replace/upload new image -->
        <script>
            $('#new-image').change(function() {
                var file = $('#new-image')[0].files[0];
                $('#filename').text(`Image will be set to: ${file.name}`);
            });
        </script>
    {% endblock %}