{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <!-- Edit game container -->
    <div class="container mb-2">
        <div class="row header">
            <div class="col text-center mt-3">
                <hr>
                <!-- Edit game page titles -->
                <h2 class="logo-font mb-4">Game Management</h2>
                <h5 class="text-muted">Edit a Game</h5>
                <hr class="mb-1">
            </div>
        </div>

        <div class="row text-center">
            <div class="col-12 col-lg-6">
                <!-- Edit game form -->
                <form method="POST" action="{% url 'edit_game' game.id %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.name != 'image' %}
                            {{ field | as_crispy_field }}
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                    <div class="text-center">
                        <!-- Cancel and Update Game buttons -->
                        <a class="btn btn-outline-black text-uppercase" href="{% url 'games' %}">Cancel</a>
                        <button class="btn btn-dark text-uppercase" type="submit">Update Game</button>
                    </div>
                </form>
            </div>            
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <!-- JS to replace/upload new image -->
    <script>
        $('#new-image').change(function() {
                var file = $('#new-image')[0].files[0];
                $('#filename').text(`Image will be set to: ${file.name}`);
            });
        </script>
{% endblock %}