{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid header">
        <div class="row mt-5">
            <div class="col-lg-5 game-image">
                <div class="image-container my-5">
                    <!-- Displays game image if image exists -->
                    {% if game.image %}
                    <a href="{{ game.image.url }}" target="_blank">
                        <img class="img-responsive" width="360" height="445" src="{{ game.image.url }}" alt="{{ game.name }}">
                    </a>
                    <!-- Otherwise placeholder image is displayed instead -->
                    {% else %}
                    <a href="">
                        <img class="img-responsive" width="360" height="445" src="{{ MEDIA_URL }}no_image_placeholder.JPG"
                            alt="{{ game.name }}">
                    </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-7">
                <!-- Displays heart icon for a shopper to add game to their favourites -->
                <form action="{% url 'add_to_favourites' game.id %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="game_id" value="{{ game.id }}">
                    <button type="submit" class="favourites-link bg-white" data-toggle="tooltip" 
                        data-placement="top" title="Save to favourites">
                        <i class="fa-regular fa-heart"></i>
                    </button>
                </form>
                <!-- Game title -->
                <h3 class="mb-1 game-title">{{ game.name }}</h3>
                <hr class="mb-1">
                <!-- Game price -->
                <p class="lead mb-0 text-left font-weight-bold">£{{ game.price }}</p>
                <!-- Game category with a link to the said category -->
                <p class="my-auto back-to-category-link">
                    {% if game.category %}
                    <a class="text-muted" href="{% url 'games' %}?category={{ game.category.name }}">
                        <i class="fas fa-tag mr-1"></i>{{ game.category.friendly_name }}
                    </a>
                </p>
                {% endif %}

                <!-- If user logged in as admin, Edit game and Delete game links will show here -->
                {% if request.user.is_superuser %}
                <div class="row-lg-7">
                    <small class="ml-3">
                        <a href="{% url 'edit_game' game.id %}">Edit</a> |
                        <a class="text-danger" href="{% url 'delete_game' game.id %}"></i> Delete
                        </a>
                    </small>
                </div>
                {% endif %}
                <!-- Game description -->
                <p class="mt-4 description"><strong>Description</strong></p>
                <p>{{ game.description }}</p>
                <!-- Add to basket section -->
                <form class="form" action="{% url 'add_to_basket' game.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row quantity">
                        <!-- Quantity section -->
                        <div class="col-lg-7">
                            <div class="input-group w-50">
                                <!-- Button for decreasing quantity -->
                                <div class="input-group-prepend">
                                    <button class="decrement-qty btn btn-warning" 
                                        data-item_id="{{ game.id }}" id="decrement-qty_{{ game.id }}">
                                        <span class="icon">
                                            <i class="fas fa-minus"></i>
                                        </span>
                                    </button>
                                </div>
                                <input class="form-control qty_input" type="number"
                                    name="quantity" value="1" min="1" max="99"
                                    data-item_id="{{ game.id }}"
                                    id="id_qty_{{ game.id }}">
                                <!-- Button for increasing quantity -->
                                <div class="input-group-append">
                                    <button class="increment-qty btn btn-black"
                                        data-item_id="{{ game.id }}" id="increment-qty_{{ game.id }}">
                                        <span class="icon">
                                            <i class="fas fa-plus"></i>
                                        </span>
                                    </button>
                                </div>                                    
                            </div>
                        </div>
                       
                    </div>
                        <div class="col-lg-7 m-3 p-3">
                            <!-- Button link which returns shopper to all games -->
                            <a href="{% url 'games' %}" class="btn btn-outline-black my-3">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">Keep Shopping</span>
                            </a>
                            <!-- Button link for adding games into basket -->
                            <input type="submit" class="btn btn-dark text-uppercase" value="Add to Basket">
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Review section -->
    <div class="row mt-n4">
        <div class="col-12 col-lg-8 offset-lg-2 text-center mb-5">
       
            <!-- Reviews header -->
            <hr class="mb-1">
            <h3 class="review-title">Reviews</h3>

            <!-- Add review link if user logged in -->
            {% if user.is_authenticated %}
            <a href="{% url 'add_review' game.id %}" class="text-uppercase">Add review</a>
            {% else %}
            <a href="{% url 'account_login' %}" class="text-uppercase"
                data-toggle="tooltip" data-placement="top" title="Add review">
                <small><i class="fa-regular fa-face-smile"></i></small>
                Add review
            </a>
            <input type="hidden" name="redirect_url" value="{{ request.path }}">
            {% endif %}

            <!-- Existing review cards -->
            <div class="row">

                <!-- Iterates through reviews and displays them in cards -->
                {% for review in game_reviews reversed %}
                
                <!-- Checks for relevant reviews -->
                {% if game.name in review.game.name %}
                <div class="col-sm-6 my-4">
                    <div class="card">
                        <div class="card-header">

                            <!-- Review title -->
                            <h5 class="card-title">"{{ review.title }}"</h5>
            
                            <!-- Edit and delete if user is reviewer -->
                            {% if user == review.reviewer %}
                            <small class="ml-3">
                                <a href="{% url 'edit_review' game.id review.id %}">Edit</a> |
                                <a href="#" class="text-danger" data-toggle="modal"
                                    data-target="#deleteReview{{ review.id }}Modal">Delete</a>
                            </small>
                            {% endif %}
                        </div>

                        <!-- Review -->
                        <div class="card-body">
                            <p class="card-text">{{ review.review }}</p>
                        </div>

                        <!-- Displays reviewer's username/name and date of review -->
                        <div class="card-footer text-black">
                            {{ review.reviewer }} -
                            {{ review.date|date:"d M, Y" }}
                        </div>
                    </div>
                </div>
                <!-- Delete review modal -->
                <div class="modal fade" id="deleteReview{{ review.id }}Modal" tabindex="-1"
                    aria-labelledby="deleteReview{{ review.id }}ModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content text-black">
                            <div class="modal-header">
                                <h5 class="modal-title">Delete review</h5>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure? This action cannot be reversed</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-dark"
                                    data-dismiss="modal">Cancel</button>
                                <a class="btn btn-danger" href="{% url 'delete_review' game.id review.id %}"
                                    id="{{ review.id }}">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'games/includes/quantity_input_script.html' %}
{% endblock %}