{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
    <!-- Games page container -->
    <div class="container-fluid">
        <div class="row header">
            <div class="col text-center mt-3">
                <hr>
                <!-- Games page title -->
                <h3 class="logo-font mb-4 text-uppercase">Games</h3>
                <!-- Category badges -->
                <div class="col text-center">
                    {% for c in current_categories %}
                        <a class="category-badge text-decoration-none" href="{% url 'games' %}?category={{ c.name }}">
                            <span class="p-2 mt-2 badge badge-white text-dark rounded border">{{ c.friendly_name }}</span>
                        </a>
                    {% endfor %}
                    <hr class="mb-1">
                </div>

                
            </div>
        </div>
        <div class="row games">
            <div class="game-container col-10 offset-1">
                <div class="row mt-1 mb-2 justify-content-end">
                    <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                        <div class="sort-select-wrapper w-50">
                            <!-- Category, Name, Price sorting -->
                            <select id="sort-selector" class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                                <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                                <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
                                <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
                                <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                                <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                                <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                                <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row games-display">
                    {% for game in games %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="card game-card border-0">
                                <!-- Displays game image if image exists -->
                                {% if game.image %}
                                <a href="{% url 'game_detail' game.id %}" class="text-center">
                                    <img class="card-img-top img-fluid game-img" width="360" height="445" src="{{ game.image.url }}" alt="{{ game.name }}">
                                </a>
                                <!-- If image doesn't exists, placeholder image is displayed instead -->
                                {% else %}
                                <a href="{% url 'game_detail' game.id %}" class="text-center">
                                    <img class="card-img-top img-fluid game-img" width="360" height="445" src="{{ MEDIA_URL }}no_image_placeholder.JPG" alt="{{ game.name }}">
                                </a>
                                {% endif %}
                                <!-- Game name, price -->
                                <div class="games-card-body pb-0 bg-white">
                                    <p class="ml-3 mb-0 game-name">{{ game.name }}</p>
                                </div>
                                <p class="lead ml-3 mb-0 text-left">£{{ game.price }}</p>
                                <!-- Game category-->
                                {% if game.category %}
                                <p class="small ml-3 mb-0">
                                    <a class="text-muted" href="{% url 'games' %}?category={{ game.category.name }}">
                                        <i class="fas fa-tag mr-1"></i>{{ game.category.friendly_name }}
                                    </a>
                                </p>
                                {% endif %}
                                <!-- Add to favourites icon and text -->
                                <!-- If shopper is logged in, it will take them to their favourites list page -->
                                {% if user.is_authenticated %}
                                <form class="form" action="{% url 'add_to_favourites' game.id %}" method="POST">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-fav ml-3 mb-0"
                                        data-toggle="tooltip" data-placement="top" title="Add to favourites">
                                        <small><i class="fas fa-heart fa-lg"></i></small>
                                        <strong>Add to favourites</strong>
                                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                    </button>
                                </form>
                                <!-- If shopper is not logged in, it will take them to login page -->
                                {% else %}
                                <a href="{% url 'account_login' %}" class="btn btn-fav ml-3 mb-0"
                                    data-toggle="tooltip" data-placement="top" title="Add to favourites">
                                    <small><i class="fas fa-heart fa-lg"></i></small>
                                    <strong>Add to favourites</strong>
                                </a>
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                {% endif %}
                                <!-- If logged in as admin, Edit and Delete links will show -->
                                <div class="float-right">
                                    {% if request.user.is_superuser %}
                                        <small class="float-right">
                                            <a href="{% url 'edit_game' game.id %}">Edit</a> | 
                                            <a class="text-danger" href="{% url 'delete_game' game.id %}">Delete</a>
                                        </small>
                                {% endif %}
                                </div>
                                   
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:1 %}
                            <div class="col-12 d-sm-none mb-5">
                                <hr>
                            </div>
                        {% endif %}                        
                        {% if forloop.counter|divisibleby:2 %}
                            <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:3 %}
                            <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:4 %}
                            <div class="col-12 d-none d-xl-block mb-5">
                                <hr>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- Scroll up arrow for ease of navigation -->
    <div class="scroll-up">
        <a class="scroll-link d-flex p-3 m-3 h-50">
            <i class="fa-solid fa-circle-arrow-up text-dark mx-auto my-auto"></i>
        </a>    
    </div>
 
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <!-- Scroll up arrow JS -->
    <script>
        $('.scroll-link').click(function(e) {
            window.scrollTo(0,0)
        })
    </script>
    <!-- Sorting function JS -->
    <script>
        $('#sort-selector').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if(selectedVal != "reset"){
                var sort = selectedVal.split("_")[0];
                var direction = selectedVal.split("_")[1];

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        })
    </script>
{% endblock %}


