<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Games
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-games-link">
                <a href="{% url 'games' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'games' %}?sort=category&direction=asc"class="dropdown-item ">By Category</a>
                <a href="{% url 'games' %}"  class="dropdown-item">All Games</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="games-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Games
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="games-link">
                <a href="{% url 'games' %}?category=playstation" class="dropdown-item">PlayStation</a>
                <a href="{% url 'games' %}?category=xbox" class="dropdown-item">Xbox</a>
                <a href="{% url 'games' %}?category=nintendo" class="dropdown-item">Nintendo</a>
                <a href="{% url 'games' %}?category=pc" class="dropdown-item">PC Classics</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'games' %}?category=clearance" class="dropdown-item">Clearance</a>
            </div>
        </li>
    </ul>
</div>