{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Register" %}{% endblock %}

{% block inner_content %}
<hr>
<h2 class="col text-center text-uppercase mt-3">{% trans "Register" %}</h2>
<hr class="mb-1">


<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">log in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="btn btn-outline-black text-uppercase" href="{% url 'account_login' %}"><i class="fa-solid fa-circle-arrow-left"></i> Back to Login</a>
  <button type="submit" class="btn btn-dark rounded-pill text-uppercase">{% trans "Register" %}</button>
</form>

{% endblock %}